# -*- python -*-
# ex: set syntax=python:

# Copyright (c) 2012 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.


slaves = [
  {
    'master': 'ChromiumOZONEWAYLAND',
    'builder': 'TSan v2',
    'hostname': 'vm855-m1',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
  },
  {
    'master': 'ChromiumOZONEWAYLAND',
    'builder': 'LSan (and ASan)',
    'hostname': 'vm835-m1',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
  },
  {
    'master': 'ChromiumOZONEWAYLAND',
    'builder': 'MSan',
    'hostname': 'vm841-m1',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
  },
  {
    'master': 'ChromiumOZONEWAYLAND',
    'hostname': 'vm428-m1',
    'builder': [
      'Perf',
    ],
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
  },
  {
    'master': 'ChromiumOZONEWAYLAND',
    'builder': 'Ozone ECS Linux',
    'hostname': 'vm951-m1',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
  },
]
